<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}tp7's hideout</title>
    <link rel="stylesheet" href="https://stackedit.io/res-min/themes/base.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
     <style type="text/css">
        body {
            font-size: 15px;
            background-color: #f6f7f9;
            color: #333;
            line-height: 1.7;
        }
        footer {
            text-align: center;
            color: #8e8e8e;
        }
        .container {
            margin-bottom: 100px;
        }
     </style>
</head>
<body>
    <div class="container" id="content">
    {% block content %}{% endblock %}
    </div>


    <footer>
        {% block footer %}
        <div class="content-wrap">
            <p>&copy; 2014 Victor Efimov &mdash; 
            powered by <a href="https://github.com/jnordberg/wintersmith">Wintersmith</a> 
            and <a href="https://stackedit.io/">stackedit.io</a></p>
        </div>
        {% endblock %}
    </footer>
</body>

<script type="text/javascript">
var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-50094134-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    (function() {
        var a = document.getElementById('email-link');
        var email = decodeURIComponent(a.getAttribute("data-email"));
        a.href = "mailto:" + email;
        a.innerText = email;
    })();
</script>
</html>
